<div class="row">
    <div class="col-sm">
        <h2>{{currentPath || 'Mein Computer'}}</h2>
    </div>
</div>

<button class="btn btn-primary" *ngIf="imageCount > 0" (click)="handleToggleAllButtonClicked()">{{imageCount > bulkEditCount ? 'alle' : 'keine'}} auswählen</button>
<button class="btn btn-primary" *ngIf="showBulkEditButton" (click)="handleBulkEditButtonClicked()">{{bulkEditCount}} Bilder editieren</button>

<div *ngIf="isFileListLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isFileListLoading">
    <app-content-list
            [currentPath]="currentPath"
            [files]="files"
            (openPreviousDirectoryEvent)="openPreviousDirectory()"
            (folderClickedEvent)="handleFolderClicked($event)">
    </app-content-list>
</div>