<div class="row">
    <div class="col-sm">
        <h2>{{currentPath || 'Mein Computer'}}</h2>
    </div>
</div>

<app-explorer-actions
    [imageCount]="imageCount"
    [bulkEditCount]="bulkEditCount"
    [showBulkEditButton]="showBulkEditButton"
    (startBulkEditEvent)="handleBulkEditButtonClicked()"
    (toggleAllEvent)="handleToggleAllButtonClicked()">
</app-explorer-actions>

<div *ngIf="isFileListLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isFileListLoading">
    <app-content-list
            [currentPath]="currentPath"
            [files]="files"
            (openPreviousDirectoryEvent)="openPreviousDirectory()"
            (folderClickedEvent)="handleFolderClicked($event)">
    </app-content-list>
</div>