<div class="row">
    <div class="col-sm">
        <h2>{{currentDirectory || 'Mein Computer'}}</h2>
    </div>
</div>

<div *ngIf="isFileListLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!(isFileListLoading$ | async)">
    <app-content-list
            [currentDirectory]="currentDirectory"
            [files]="files"
            (openPreviousDirectoryEvent)="openPreviousDirectory()"
            (folderClickedEvent)="handleFolderClicked($event)">
    </app-content-list>
</div>

<app-explorer-actions
        [imageCount]="imageCount$ | async"
        [selection]="selection$ | async"
        (startBulkEditEvent)="handleBulkEditButtonClicked()"
        (selectAllEvent)="selectAll()"
        (clearSelectionEvent)="clearSelection()">
</app-explorer-actions>