.folder-tile, .image-tile {
    position: relative;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
}

.folder-tile > a {
    display: block;
    height: 100%;
    word-wrap: break-word;
}