<div class="fixed-bottom action-panel row">
    <div class="col-6 d-flex align-items-center">{{imageCount}} Bild(er), {{bulkEditCount}} ausgewählt</div>
    <div class="col-6 d-flex justify-content-end">
        <button class="btn btn-primary" *ngIf="showBulkEditButton" (click)="handleBulkEditButtonClicked()">{{bulkEditCount}} Bilder editieren</button>
        <button class="btn btn-primary" *ngIf="imageCount > 0" (click)="handleToggleAllButtonClicked()">{{imageCount > bulkEditCount ? 'alle' : 'keine'}} auswählen</button>
    </div>
</div>